body {
    background: black;
}

.calculadora {
    width: 25%;
    padding: 20px;
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 1em;
    background: #191970;
}

.numeros {
    width: 24%;
    display: inline-block;
    margin-left: 0.2%;
    margin-top: 3%;
    font-size: 3em;
    border: 1px solid white;
    border-radius: 3em;
    text-align: center;
    background: black;
    color: white;
}

.numeros:active {
    background: white;
    color: black;
}

.operadores {
    width: 24%;
    display: inline-block;
    margin-left: 0.2%;
    margin-top: 3%;
    font-size: 3em;
    border: 1px solid white;
    border-radius: 3em;
    text-align: center;
    background: #C0C0C0;
    color: black;
}

.operadores:active {
    background: white;
    color: black;
}

.funcoes.igualdade {
    background: blue;
}

.funcoes {
    width: 24%;
    display: inline-block;
    margin-left: 0.2%;
    margin-top: 3%;
    font-size: 3em;
    border: 1px solid white;
    border-radius: 3em;
    text-align: center;
    background: black;
    color: white;
}

.funcoes:active {
    background: white;
    color: black;
}

.resposta {
    width: 99%;
    margin: 0.5%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid white;
    border-radius: 3em;
    font-size: 3em;
    text-align: center;
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background: grey;
}

@media screen and (max-width: 480px) {
    body {
        background:#191970;
    }
    .calculadora {
        width: 95%;
        margin: 20px auto;
        padding: 0;
        border: 0;
    }
    .numeros {
        font-size: 2em;
        width: 23%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-top: 5%;
        padding: 10% 0 10% 0;
    }
    .operadores {
        font-size: 2em;
        width: 23%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        padding: 10% 0 10% 0;
    }
    .funcoes {
        font-size: 2em;
        width: 23%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-top: 5%;
        padding: 10% 0 10% 0;
    }
    .resposta {
        font-size: 3em;
        margin-top: 5%;
    }
}